<div class="container mt-5">
    <h3 class="text-center">รายชื่อสมาชิกในกลุ่ม</h3>
    <table class="table table-striped mt-4">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">รหัสนักศึกษา</th>
                <th scope="col">ชื่อ</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">ชื่อเล่น</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>6021207025</td>
                <td>สุพจน์</td>
                <td>อุมาธรณ์</td>
                <td>หนึ่ง</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>6021207016</td>
                <td>นนทวัฒน์</td>
                <td>เดือนจำรูญ</td>
                <td>โบ๊ท</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>6021207024</td>
                <td>ธงไชย</td>
                <td>รัศมีทองสายธาร</td>
                <td>เจ</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>6021207062</td>
                <td>ปรวี</td>
                <td>ทองน้อย</td>
                <td>เทียน</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>6021207040</td>
                <td>ณัฐวัตร</td>
                <td>ละดา</td>
                <td>นัท</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>6021207043</td>
                <td>อโนทัย</td>
                <td>สุภวรรณ์</td>
                <td>แทน</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>6021207019</td>
                <td>อิงครัต</td>
                <td>จรัสวงศ์นุกุล</td>
                <td>เจมส์</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>6021207023</td>
                <td>ณัฐพงศ์</td>
                <td>มีสุข</td>
                <td>ไอซ์</td>
            </tr>
        </tbody>
    </table>
</div>